<!DOCTYPE html>
<html>
<head>
    {% include_relative _layouts/head.html %}
</head>
<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img alt="Brand" src="images/Bob.png" width="24" height="24"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'main' %}
                    {% include pages_list %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" role="main">
        <div class="jumbotron">
            <h1 class="key">Bob, build our business!</h1>
            <p class="lead">Brought to you by <span class="key">Bob´s Friends.</span></p>
            <p><a href="https://github.com/BobsFriends" class="btn btn-primary" role="button">View on GitHub</a></p>
        </div>

        {{ content }}

        <footer class="footer">
            <p>&copy; Copyright 2015 by Bob´s Friends.</p>
        </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>