<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.url}}/">
                    <span class="key">
                        <img alt="Brand" src="{{site.url}}/images/Bob.png" width="24" height="24">
                        Bob, build our business!
                    </span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% assign pages = site.pages | sort: 'order' %}
                    {% for p in pages %}
                    {% if p.order != null %}
                    {% if page.url == p.url %}
                    <li class="active"><a href="{{ p.url | remove: "index.html" }}" class="active">{{p.title}}</a></li>
                    {% else %}
                    <li><a href="{{ p.url | remove: "index.html" }}">{{p.title}}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        {{ content }}
        <footer class="footer">
            <p>&copy; Copyright 2015 by <span class="key">Bob´s Friends</span>.</p>
        </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>